<template>
  <div>
    Naber lan gjgewodik - {{ status }}
    <h1 class="red">Hello world!</h1>
  </div>
</template>
<script lang="ts">
export default {
  data() {
    return {
      status: process.env.NODE_ENV
    };
  }
};
</script>
